@model SoldOutBusiness.Models.Category

@{
    ViewBag.Title = "Category";
}
@section scripts{
    <script src="~/Scripts/charting.js" type="text/javascript"></script>
    <script>
        $(function () {
            // Bootstrap the charts on this page
            charting.load();
            charting.setOnLoadCallback(function () {
                charting.loadTopSellersBarChart('topSellersChartContainer', '/api/TopSellingProducts/');
                charting.loadPopularProductsTable('newMostExpensiveProductTableContainer', '/api/Expensive/');
                charting.loadPopularProductsTable('newTopSellersTableContainer', '/api/Popular/');
                charting.loadPopularProductsTable('usedMostExpensiveProductTableContainer', '/api/Expensive/');
                charting.loadPopularProductsTable('usedTopSellersTableContainer', '/api/Popular/');

                // Todo: Move to convention based approach for charts?
                charting.loadMoversAndLosersBarChart('newMoversAndLosersChartContainer', '/api/MoversAndLosers/', 'newMoversAndLosers');
                charting.loadMoversAndLosersBarChart('usedMoversAndLosersChartContainer', '/api/MoversAndLosers/', 'usedMoversAndLosers');

                charting.loadSalesByWeekdayBarChart('salesByWeekdayChartContainer', '/Api/WeekdaySalesData/');

                charting.loadProductsTable('productTableContainer', '/api/ProductsInCategory/');
            });

            $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                // Which tab is selected?
                var target = $(e.target).attr("href").substring(1);

                // Redraw the chart
                charting.redrawChart(target + 'MoversAndLosers');
            })
        })
    </script>
}
<h2>@Model.Name</h2>

<div class="row">
    <div class="col-lg-12">
        <div id="topSellersChartContainer" data-category-id="@Model.CategoryID">
            <div id="loader" class="loader">
                <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
            </div>
            <div id="errorMessage" class="loader" style="display: none">
                <p class="text-danger">Sorry, we couldn't get your search results</p>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#new">New</a></li>
    <li><a data-toggle="tab" href="#used">Used</a></li>
</ul>
<div class="tab-content">
    <div id="new" class="tab-pane fade in active">
        <h5>New product prices</h5>
        <div class="row">
            <div class="col-md-6">
                <h6>Most Expensive Products</h6>
                <div id="newMostExpensiveProductTableContainer" data-category-id="@Model.CategoryID" data-condition-id="2">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Most Popular Products</h6>
                <div id="newTopSellersTableContainer" data-category-id="@Model.CategoryID" data-condition-id="2">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h6>Movers and losers</h6>
                <div id="newMoversAndLosersChartContainer" data-category-id="@Model.CategoryID" data-condition-id="2">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Used tab contents -->
    <div id="used" class="tab-pane fade">
        <h5>Used product prices</h5>
        <div class="row">
            <div class="col-md-6">
                <h6>Most Expensive Products</h6>
                <div id="usedMostExpensiveProductTableContainer" data-category-id="@Model.CategoryID" data-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Most Popular Products</h6>
                <div id="usedTopSellersTableContainer" data-category-id="@Model.CategoryID" data-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h6>Movers and losers</h6>
                <div id="usedMoversAndLosersChartContainer" data-category-id="@Model.CategoryID" data-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="salesByWeekdayChartContainer" data-category-id="@Model.CategoryID">
            <div id="loader" class="loader">
                <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
            </div>
            <div id="errorMessage" class="loader" style="display: none">
                <p class="text-danger">Sorry, we couldn't get your search results</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4>Products in this category</h4>
    <div class="col-lg-12">
        <div id="productTableContainer" data-category-id="@Model.CategoryID">
            <div id="loader" class="loader">
                <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
            </div>
            <div id="errorMessage" class="loader" style="display: none">
                <p class="text-danger">Sorry, we couldn't get your search results</p>
            </div>
        </div>
    </div>
</div>