@model SoldOutWeb.Models.SearchSummary

@{
    ViewBag.Title = "Product Summary";
}

@section scripts{
    <script src="~/Scripts/charting.js" type="text/javascript"></script>
    <script>
        $(function () {
            charting.load();
            charting.setOnLoadCallback(function () {
                // New product charts
                charting.loadDailyProductPriceLineChart('newproductDailyPriceChartContainer', '/Api/MACData/', 'newProductDailyPrice');
                charting.loadProductPriceLineChart('newproductMonthlyPriceChartContainer', '/Api/PriceHistory/', 'newProductPriceMonthlySummary');
                charting.loadSalesByWeekdayAreaChart('newsalesByWeekdayChartContainer', '/Api/WeekdaySalesDataForProduct/', 'newWeekdayAreaChart','data-product-id');

                // Used product charts
                charting.loadDailyProductPriceLineChart('usedproductDailyPriceChartContainer', '/Api/MACData/', 'usedProductDailyPrice');
                charting.loadProductPriceLineChart('usedproductMonthlyPriceChartContainer', '/Api/PriceHistory/', 'usedProductPriceMonthlySummary');
                charting.loadSalesByWeekdayAreaChart('usedsalesByWeekdayChartContainer', '/Api/WeekdaySalesDataForProduct/', 'usedWeekdayAreaChart', 'data-product-id');

                // Misc data charts for the product
                charting.loadProductScatterGraphChart('productScatterGraphChartContainer', '/Api/Scattergraph/');
                
            });

            $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                // Which tab is selected?
                var target = $(e.target).attr("href").substring(1);

                // Redraw the charts
                charting.redrawChart(target + 'ProductDailyPrice');
                charting.redrawChart(target + 'ProductPriceMonthlySummary');
                charting.redrawChart(target + 'WeekdayAreaChart');
            })
        })
    </script>
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Name (<a href="@Model.Link">@Model.Description</a>)</h2>
        <div>Price data correct as of: @Model.LastRun</div>
        <div>Total Prices tracked: @Model.TotalResults</div>
    </div>
</div>

<div class="row" style="height:50px;">
</div>

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#new">New Prices</a></li>
    <li><a data-toggle="tab" href="#used">Used Prices</a></li>
</ul>

<div class="tab-content">
    <div id="new" class="tab-pane fade in active">
        <!-- New tab contents -->
        <div class="row" style="height:50px;">
        </div>
            
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="" id="newproductDailyPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2" data-short-interval="12" data-long-interval="26" data-daysToLookBack="30">
                </div>
            </div>
        </div>
        <div class="row" style="height:50px;">
        </div>
        <div class="row nopadding">
            <div class="col-lg-12">
                <div class="" id="newproductMonthlyPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2">
                </div>
            </div>
        </div>

        <div class="row" style="height:50px;">
        </div>

        <div class="row nopadding">
            <div class="col-lg-12">
                <div id="newsalesByWeekdayChartContainer" data-product-id="@Model.ProductID" data-condition-id="2">
                </div>
            </div>
        </div>
    </div>

    <!-- Used tab contents -->
    <div id="used" class="tab-pane fade">
        <div class="row" style="height:50px;">
        </div>
        <div class="row">
            <div class="col-lg-12 nopadding">
                <div id="usedproductDailyPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="0" data-short-interval="12" data-long-interval="26" data-daysToLookBack="30">
                </div>
            </div>
        </div>
        <div class="row" style="height:50px;">            
        </div>
        <div class="row nopadding">
            <div class="col-lg-12">
                <div id="usedproductMonthlyPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="0">
                </div>
            </div>
        </div>

        <div class="row" style="height:50px;">
        </div>

        <div class="row nopadding">
            <div class="col-lg-12">
                <div id="usedsalesByWeekdayChartContainer" data-product-id="@Model.ProductID" data-condition-id="0">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height:50px;">
</div>

<h4>Miscellaneous price and sale data</h4>
<div class="row nopadding">
    <div class="col-lg-12">
        <div id="productScatterGraphChartContainer" data-product-id="@Model.ProductID">
        </div>
    </div>
</div>

