@model SoldOutWeb.Models.SearchSummary

@{
    ViewBag.Title = "Product Summary";
}

@section scripts{
    <script src="~/Scripts/charting.js" type="text/javascript"></script>
    <script>
        function loadProductPageCharts() {
            // New product charts
            loadProductPricesCandlestickChart('newproductPriceChartContainer', '/Api/CandlestickData/')
            loadProductPricesMACD('newproductPriceMACDChartContainer', '/Api/MACData/')
            loadProductPricesForMACDBarChart('newproductPriceMACDBarChartContainer', '/Api/MACData/')
            loadProductPriceLineChart('newproductPriceMonthlySummaryContainer', '/Api/PriceHistory/')
            loadDailyProductPriceLineChart('newproductPriceDailyContainer', '/Api/MACData/')

            // Used product charts
            loadProductPricesCandlestickChart('usedproductPriceChartContainer', '/Api/CandlestickData/')
            loadProductPricesMACD('usedproductPriceMACDChartContainer', '/Api/MACData/')
            loadProductPricesForMACDBarChart('usedproductPriceMACDBarChartContainer', '/Api/MACData/')
            loadProductPriceLineChart('usedproductPriceMonthlySummaryContainer', '/Api/PriceHistory/')

            

            // Misc data charts for the product
            loadProductScatterGraphChart('productScatterGraphChartContainer', '/Api/Scattergraph/')
        }

        $(function () {
            google.charts.setOnLoadCallback(loadProductPageCharts);
        })
    </script>
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Name (<a href="@Model.Link">@Model.Description</a>)</h2>
        <div>Last Ran: @Model.LastRun</div>
        <div>Total Results: @Model.TotalResults</div>
    </div>
</div>

<h5>General Information about this product</h5>


<ul class="nav nav-tabs nav-justified">
    @*@if (Model.ConditionID == 2)
    {*@
    <li class="active"><a data-toggle="tab" href="#new">New</a></li>
    <li><a data-toggle="tab" href="#used">Used</a></li>   
    @*}
    else
    {*@
    @*<li><a data-toggle="tab" href="#new">New</a></li>
    <li class="active"><a data-toggle="tab" href="#used">Used</a></li>   
    }*@
</ul>

<div class="tab-content">
    <div id="new" class="tab-pane fade in active">
        <!-- New tab contents -->
        <h5>New price data</h5>
        <div class="row">
            <div class="col-lg-12">
                <a href="http://stockcharts.com/school/doku.php?st=candlestick+chart&id=chart_school:chart_analysis:candlesticks_and_traditional_chart_analysis" target="new">What are Candlestick charts?</a>
                <div id="newproductPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 nopadding">                                
                <div id="newproductPriceDailyContainer" data-product-id="@Model.ProductID" data-search-title="@Model.Description" data-product-condition-id="2" data-short-interval="20" data-long-interval="50" data-daystolookback="30">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>                
            </div>
            <div class="col-lg-12 nopadding">
                <div class="nopadding" id="newproductPriceMACDBarChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2" data-short-interval="12" data-long-interval="26">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div id="newproductPriceMonthlySummaryContainer" class="chart-container" data-product-id="@Model.ProductID" data-search-title="@Model.Description" data-product-condition-id="2">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
            <div class="nopadding" id="newproductPriceMACDChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2">
                <div id="loader" class="loader">
                    <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                </div>
                <div id="errorMessage" class="loader" style="display: none">
                    <p class="text-danger">Sorry, we couldn't get your search results</p>
                </div>
            </div>
        </div>
    </div> 

    <!-- Used tab contents -->
    <div id="used" class="tab-pane fade">
        <h5>Used product prices</h5>
        <div class="row">
            <div>
                <div id="usedproductPriceChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <div id="usedproductPriceMACDChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
                <div id="usedproductPriceMACDBarChartContainer" data-product-id="@Model.ProductID" data-product-condition-id="2" data-short-interval="12" data-long-interval="26">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <div id="usedproductPriceMonthlySummaryContainer" class="chart-container" data-product-id="@Model.ProductID" data-search-title="@Model.Description" data-product-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>

                <div id="usedproductPriceDailyContainer" class="chart-container" data-product-id="@Model.ProductID" data-search-title="@Model.Description" data-product-condition-id="0">
                    <div id="loader" class="loader">
                        <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
                    </div>
                    <div id="errorMessage" class="loader" style="display: none">
                        <p class="text-danger">Sorry, we couldn't get your search results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  

<h3>Other price data</h3>
<div class="row">
    <div class="col-lg-12">
        <div id="productScatterGraphChartContainer" class="chart-container" data-product-id="@Model.ProductID">
            <div id="loader" class="loader">
                <i class="fa fa-spinner fa-spin fa-4x"></i> Loading...
            </div>
            <div id="errorMessage" class="loader" style="display: none">
                <p class="text-danger">Sorry, we couldn't get your search results</p>
            </div>
        </div>
    </div>
</div>
