<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nolonga.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="description" content="Commodity valuation analyser" />

    <script type="text/javascript" language="javascript">
        $(function () {
            $("#searchForm").submit(function () {
                // prevent the default GET form behavior (name-value pairs)
                event.preventDefault();

                // Get the action attribute
                var action = $("#searchForm").attr("action").toLowerCase();

                // Get the search text
                var searchText = $("#searchText").val();

                // Send the user off to the URL w/ template elements replaced
                window.location.href = action + '/' + searchText;
            });
        });
    </script>
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top navbar-nolonga">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-nolonga" href="#">
                    <img src="@Url.Content("~/Content/Images/NoLongaLogo.png")" class="img-logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <form id="searchForm" class="navbar-form navbar-brand navbar-form-nolonga navbar-right" role="search" method="get" action="/Search">
                    <div class="form-group">
                        <input id="searchText" type="text" class="form-control" placeholder="Set name or number...">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nolonga.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- v @typeof(SoldOutWeb.MvcApplication).Assembly.GetName().Version -->
</body>
</html>
