@model SoldOutWeb.Models.SearchSummary

@{
    ViewBag.Title = "Search Summary";
}

@section scripts{
    <script src="~/Scripts/charting.js" type="text/javascript"></script>
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Name (@Model.Description)</h2>
        <div>Last Ran: @Model.LastRun</div>
        <div>Total Results: @Model.TotalResults</div>
    </div>
</div>

<div class="row">
    <div id="chartContainer" class="col-md-3" style="width: 600px; height: 400px;" data-search-id="@Model.SearchID"></div>
    <div id="warningMessage" class="col-md-3" style="display: none">
        <p  class="text-danger">Sorry, we couldn't get your search results</p>
    </div>
</div>